<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
    <h5>질문 등록</h5>
      <form th:action="@{/question/create}" method="post">
        <div>
          <label for="subject">제목</label>
          <input type="text" name="subject" id="subject">
        </div>
        <div>
          <label for="content"></label>
          <textarea name="content" id="content"></textarea>
        </div>
        <input type="submit" value="저장하기">
      </form>
</div>
</body>
</html>